body .book .book-summary ul.summary li .custom-link,
body .book .book-summary ul.summary li .custom-link:hover {
  text-indent: -999px;
  background-image: url(https://raw.githubusercontent.com/pyramidium/generator-bannertime/master/generators/app/templates/src/base/images/logo.png);
  width: 100%;
  height: 50px;
  background-size: 100px;
  background-position: 25px 22px;
  background-repeat: no-repeat;
  display: block;
}

body .book .book-summary ul.summary li a,
body .book .book-summary ul.summary li span {
  padding: 10px 25px;
}

body .gitbook-link {
  display: none !important;
}

body .font-settings {
  display: none;
}

body .edit-link {
  float: right;
}

body .book .book-header h1 {
  display: none;
}

.book .book-body .page-wrapper .page-inner {
  max-width: 960px;
  padding: 40px;
}

.book .book-body .page-wrapper .page-inner section.normal sub {
  font-size: 0.8em;
}

.book .book-body .page-wrapper .page-inner section.normal .copy-code-button {
  font-family: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  padding: 6px 12px !important;
  font-size: 13px !important;
  font-weight: bold !important;
  line-height: 14px !important;
  color: #333 !important;
  background-color: #eee !important;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee) !important;
  background-image: linear-gradient(#fcfcfc, #eee) !important;
  border: 1px solid #d5d5d5 !important;
  border-radius: 3px !important;
  opacity: 0;
  transition: all 0.5s;
}

.book .book-body .page-wrapper .page-inner section.normal pre:hover .copy-code-button {
  opacity: 1;
}
